@using QEQ.Models
@model QEQ.Models.Personaje
@{
    ViewBag.Title = "ABMPer";
}

<h2>ABMPer</h2>
@using (Html.BeginForm("ModificarP", "BackOffice", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<form method="post" action="@Url.Action("Register","Usuario")">
    <input type="hidden" name="IdPersonaje" value=@Model.Id />
    @Html.Label("Personajes") @Html.DropDownListFor(P => P.Nombre, new SelectList(ViewBag.Personajes, "Id", "Nombre"))
    @Html.RadioButton("Accion", "ModificarP") @Html.Label("Modificar")
    @Html.RadioButton("Accion", "BorrarP")@Html.Label("Borrar")
    <input type="submit" value="Proceder" />
</form>
}
