@{
    ViewBag.Title = "CrearP";
}
@using QEQ.Models;
@model Personaje
<h2>CrearP</h2>
@using (@Html.BeginForm("CrearP", "BackOffice", FormMethod.Post))
{
<form method="post" action="@Url.Action("CrearP","Personaje")">
    Nombre: @Html.TextBoxFor(x => x.Nombre) @Html.ValidationMessageFor(x => x.Nombre) <br />
    Foto: @Html.TextBoxFor(x => x.Foto, new { type = "file" }) @Html.ValidationMessageFor(x => x.Foto) <br />
    IdCategoria: @Html.TextBoxFor(x => x.Categoria) @Html.ValidationMessageFor(x => x.Categoria)<br />
    
    <input type="submit" value="Enviar" />
</form>
}
