@using QEQ.Models
@model QEQ.Models.Personaje
@{
    ViewBag.Title = "ABMCat";
}

<h2>Menu ABM de Categorias</h2>
@Html.ActionLink("AGregar una nueva categoria", "AgregarCat", "BackOffice"); <br />
<table border="1" align="center">
    @foreach (string Categoria in ViewBag.Categorias)
    {
        <tr>
            <td>@Html.Label(Categoria);</td>
            <td>@Html.ActionLink("Modificar", "ModificarCat", "BackOffice", new { Cat = Categoria });</td>
            <td>@Html.ActionLink("Borrar", "BorrarCat", "BackOffice", new { Cat = Categoria });</td>
        </tr>
    }
    @foreach (string Grupo in ViewBag.Grupos)
    {
        <tr>
            <td>@Html.Label(Grupo);</td>
            <td>@Html.ActionLink("Modificar", "ModificarCat", "BackOffice", new { Cat = Grupo });</td>
            <td>@Html.ActionLink("Borrar", "BorrarCat", "BackOffice", new { Cat = Grupo });</td>
        </tr>
    }
</table>
@Html.ActionLink("Volver al BackOffice Index", "Index", "BackOffice"); <br />