@using QEQ.Models;
@model Usuario
<h2>Configuracion</h2>
@using (@Html.BeginForm("ModificarUsu", "BackOffice", FormMethod.Post))
{
<form method="post" action="@Url.Action("ModificarUsu","Usuario")">
    Nuevo Username:    @Html.TextBoxFor(x => x.Username) @Html.ValidationMessageFor(x => x.Username) <br />
    Nuevo Nombre:      @Html.TextBoxFor(x => x.Nombre) @Html.ValidationMessageFor(x => x.Nombre) <br />
    Nuevo Contraseña:  @Html.PasswordFor(x => x.Pass) @Html.ValidationMessageFor(x => x.Pass) <br />
    Nuevo Email:       @Html.TextBoxFor(x => x.Email) @Html.ValidationMessageFor(x => x.Email)<br />
    <input type="submit" value="Modificar Perfil" />
</form>
}
