@model QEQ.Models.Personaje
@using QEQ.Models
@{
    ViewBag.Title = "ModificarP";
}
<h2>Modifica el personaje @Model.Nombre </h2>
@using (Html.BeginForm("ModificarPer", "BackOffice", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("Personaje: " + Model.Nombre, new { Nombre= Model.Nombre}) <br />
    <input type="hidden" name="IdPersonaje" value=@Model.Id /><br />
    @Html.Label("Nuevo nombre") @Html.TextBoxFor(P => P.Nombre)<br />
    @Html.Label("Cargar Fotito nueva") <input type="file" name="Foto" /><br />
    @Html.Label("Categoria") @Html.DropDownListFor(P => P.Categoria, new SelectList(ViewBag.ListaCat)) <br />
    int i = 0;
    Model.Preguntas = new List<Preg>();
    foreach (string Grupo in ViewBag.PregsXGrupo.Keys)
    {
        @Html.Label(Grupo)<br />
        @Html.RadioButton("no","no")
        @Html.Label("No")<br/>
        Model.Preguntas.Add(new Preg());
        foreach (Preg pregunta in ViewBag.PregsxGrupo[Grupo])
        {
            @Html.RadioButtonFor(P => P.Preguntas[i], pregunta)
            @Html.Label(pregunta.Texto)<br />

        }
        i++;
    }
    <input type="submit" value="Proceder" />
}