
@{
    ViewBag.Title = "Listado de partidas";
}
@using QEQ.Models
<div class="container" style="background-color: white;margin-top: 5rem; padding-top: 4rem; border: solid 2px black; margin-bottom:6rem;">
    
    
    <div class="container">
        

            <div class="row" style="margin-top:0.5rem;">
                <div class="col-md-12">
                    <a style="width: 100%;font-weight:500; padding-right: 3rem;" class="btn btn-primary w-100" href="@Url.Action("StartM","Game")">Crear Partida</a>
                </div>
            </div>

            @if (ViewBag.Partidas.Count > 0)
            {
                <table style="margin-left: 1rem;" class="table table-bordered">
                    <tr>
                        <th>  Numero de partida </th>
                        <th> Usuario Host </th>
                        <th> Unirse </th>
                    </tr>
                                        @foreach (Partida partida in ViewBag.Partidas)
                {
                                            <tr>
                                                <td>@partida.Id.ToString()</td>
                                                <td>@BD.BuscarUsuario(partida.Usuario1).Username </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-md-2 col-md-offset-5">
                                                            <a href="@Url.Action("Unirse", "Game", new { id = @partida.Id, idcat = partida.IdCat }, null)"><h3 style="font-size:2rem; font-weight:100;" class="label label-info">Ingresar!</h3></a>

                                                        </div>
                                                    </div>
                                                </td>

                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="alert alert-danger" style="margin-left:1rem;margin-bottom:4rem; margin-top:3rem;" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <strong>No se encontraron Partidas</strong>
                </div>
            }


        </div>
    
    
  


</div>

<script>	
    window.onload = function () {
        if ('@ViewBag.error' == 1) {
            alertify.alert('Ja que chistoso. No puedes entrar a tu misma partida!');
        } else if ('@ViewBag.error' == 2) {
            alertify.alert('Se cerro tu partida luego de que pasaron 10 minutos');
        }
    };
</script>

