@{
    ViewBag.Title = "FinalizarS";
    int i = 0;
}
@using QEQ.Models
<h2>@ViewBag.Msg</h2>
<div class="FinalizarPart">
    <h3>Tu personaje era @BD.laPartida.Personaje1.Nombre</h3>
    <img src="@BD.laPartida.Personaje1.Direccion" />
</div>
<p><a href="@Url.Action("TypeGame","Game")" class="btn btn-primary btn-lg">Ir al Game  &raquo;</a></p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID de la Pregunta</th>
            <th scope="col">Pregunta</th>
            <th scope="col">Puntos de la pregunta</th>
            <th scope="col">Categoría de la pregunta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (int idPregunta in BD.laPartida.Historial.Keys)
        {
            Preg preg = BD.BuscarPregunta(idPregunta);
            <tr>
                <td>@preg.Id</td>
                <td>@preg.Texto?</td>
                <td>@preg.Puntos</td>
                <td>@BD.BuscarCat(preg.idGrupo, BD.Grupos).Nombre</td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead class="thead-dark">
        <tr>           
            <th scope="col">Puesto</th>
            <th scope="col">ID</th>
            <th scope="col">Jugador</th>
            <th scope="col">Puntos</th>
            <th scope="col">Cantidad de Preguntas</th>
            <th scope="col">Personaje Jugado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (int idPregunta in BD.laPartida.Historial.Keys)
        {
            Preg preg = BD.BuscarPregunta(idPregunta);
            <tr>
                <td>@preg.Id</td>
                <td>@preg.Texto?</td>
                <td>@preg.Puntos</td>
                <td>@BD.BuscarCat(preg.idGrupo, BD.Grupos).Nombre</td>
                <td>@BD.laPartida.Historial[idPregunta]</td>
            </tr>
        }
    </tbody>
</table>



