
@{
    ViewBag.Title = "Partida Terminada";
    int i = 0;
}
@using QEQ.Models
<h2>@ViewBag.Msg</h2>
<h2 class="TPuntos">@ViewBag.Ganador</h2>
<p><a href="@Url.Action("TypeGame","Game")" class="btn btn-primary btn-lg">Ir al Game  &raquo;</a></p>
<p align="left">
    Historial de preguntas
    <table border="1" align="right">
        <tr>
            <td>ID</td>
            <td>Texto</td>
            <td>Costo</td>
            <td>Grupo</td>
            <td>Cantidad de descartados</td>
        </tr>
        @foreach (int idPregunta in BD.laPartida.Historial.Keys)
        {
            Preg preg = BD.BuscarPregunta(idPregunta);
            <tr>
                <td>@preg.Id</td>
                <td>@preg.Texto?</td>
                <td>@preg.Puntos</td>
                <td>@BD.BuscarCat(preg.idGrupo, BD.Grupos).Nombre</td>
                <td>@BD.laPartida.Historial[idPregunta]</td>
            </tr>
        }

    </table>
</p>

