<link href="~/Content/MiCSS.css" type="text/css" rel="stylesheet">
@using QEQ.Models
@model QEQ.Models.Personaje
@{
    ViewBag.Title = "JuegoPrincipalS";
}


<p>@BD.laPartida.Puntos</p>
<div class="PregBox">
    @using (Html.BeginForm("AskS", "Game", FormMethod.Post))
    {
        @Html.Label("Seleccione que quiere preguntar para adivinar mi personaje")<br />
        @Html.DropDownList("idpreg", new SelectList(ViewBag.Preg, "Id", "Texto")) <br />
        <input type="submit" name="cargar" value="Preguntar" />
    }
</div>


    @{
        foreach (Personaje personaje in ViewBag.Personajes)
        {

            <div class="responsive">
                <div class="gallery">
                    <a href='@Url.Action("RiskS", "Game", new { idPersonaje = personaje.Id } )'><img src="@personaje.Direccion" width="135" /></a>
                </div>
            </div>

        }
    }

            @{
                if (ViewBag.Estado)
                {
                    <script type="text/javascript">alert('Ya no puedes preguntar mas. Tenes que arriesgar')</script>
                }
            }


