
@using QEQ.Models
@model QEQ.Models.Personaje
@{
    ViewBag.Title = "JuegoPrincipalM";
}
@if (Convert.ToBoolean(Session["Host"]) == BD.laPartida.Turno)
{
    <h2 class="TPuntos">Te queda = <span id="timer"></span></h2>
}
else
{
    <h2 class="TPuntos"> Al otro jugador le quedan <span id="timer"></span></h2>
}

<div class="container" style="margin-top: 10rem;">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h2 class="panel-title"><b>Quien adivina primero gana!!</b> </h2>
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 PregBox text-center">
                        @using (Html.BeginForm("NucleoGameM", "Game", FormMethod.Post))
                        {
                            <p style="margin-top: 4rem; font-size:1.6rem;"><b>Que desea preguntar?</b> </p><br />

                            @Html.DropDownList("idpreg", new SelectList(ViewBag.Preg, "Id", "Texto"), new { @class = "DDLClass" }) <br />
                            <input type="submit" name="cargar" id="cargar" value="Preguntar" class="btnClassS" />
                        }
                    </div>

                    <div class="col-md-8" style="padding-left: 6rem;">
                        <div class="galeria">
                            @{
                                foreach (Personaje personaje in ViewBag.Per)
                                {
                                    <a href='@Url.Action("RiskM", "Game", new { idPersonaje = personaje.Id })'><img src="@personaje.Direccion" /></a>
                                }
                            }
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>















@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">  
        function startTimer() {
            var presentTime = document.getElementById('timer').innerHTML;
            var timeArray = presentTime.split(/[:]+/);
            var m = timeArray[0];
            var s = checkSecond((timeArray[1] - 1));
            if (s == 59) { m = m - 1 }
            document.getElementById('timer').innerHTML =
                m + ":" + s;
            if ((s == 0 && m == 0) || (m < 0)) {
                window.location.href = "@Url.Action("TerminarXTiempo", "Game")";
            }
            setTimeout(startTimer, 1000);
        }

        function checkSecond(sec) {
            if (sec < 10 && sec >= 0) { sec = "0" + sec };
            if (sec < 0) { sec = "59" };
            return sec;
    }

    window.onload = function () {
        document.getElementById('timer').innerHTML = 02 + ":" + 00;
        startTimer();
        if ( '@ViewBag.Host' == '@ViewBag.Turno') {
            alertify.alert('Ya es tu turno');
            $('#cargar').attr("enabled", true);
        } else {
            alertify.alert('@ViewBag.msgalert');
            window.location.href = "@Url.Action("Turnos","Game")";
            $('#cargar').attr("disabled", true);
        }
    }

</script>