
@using QEQ.Models
@model QEQ.Models.Personaje
@{
    ViewBag.Title = "JuegoPrincipalS";
}

<script type="text/javascript">           
        alertify.alert('@ViewBag.msgalert');   
</script>
    
<h2 class="TPuntos"> Puntos: @BD.laPartida.Puntos</h2>
<div class="PregBox">
    @using (Html.BeginForm("AskS", "Game", FormMethod.Post))
    {    
    <p class="text-center Textpreg divJPM">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; Seleccione que quiere  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; preguntar  para adivinar su&nbsp; &nbsp;&nbsp; personaje</p><br />
   
        @Html.DropDownList("idpreg", new SelectList(ViewBag.Preg, "Id", "Texto"), new { style = "width: 700px;", @class = "DDLClass" }) <br />
        <input type="submit" name="cargar" id="cargar" value="Preguntar" class="btnClassS" />
    }
</div>
<div class="galeria">
    @{
        foreach (Personaje personaje in ViewBag.Personajes)
        {
            <a href='@Url.Action("RiskS", "Game", new { idPersonaje = personaje.Id })'><img src="@personaje.Direccion" /></a>
        }
    }
</div>






