<link href="~/Content/MiCSS.css" type="text/css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="~/Scripts/alertify.js"></script>
<script src="~/Scripts/alertify.min.js"></script>
<link href="~/Content/alertify.bootstrap.css" rel="stylesheet" />
<link href="~/Content/alertify.core.css" rel="stylesheet" />
<link href="~/Content/alertify.default.css" rel="stylesheet" />

@using QEQ.Models
@model QEQ.Models.Personaje
@{
    ViewBag.Title = "JuegoPrincipalM";
}
<h2 class="TPuntos"> Quien Adivina Primero gana!!</h2>
<div id="divtodo">

    <div class="PregBox">
        @using (Html.BeginForm("NucleoGameM", "Game")) { 
        @Html.Label("Seleccione que quiere preguntar para adivinar mi personaje")<br />
        @Html.DropDownList("idpreg", new SelectList(ViewBag.Preg, "Id", "Texto"), new { style = "width: 700px;" }) <br />
        <input type="submit" name="cargar" id="cargar" value="Preguntar" />
        }
    </div>
    <div class="galeria">
        @{
            
            foreach (Personaje personaje in ViewBag.Per)
            {
                <a id="foto" href='@Url.Action("RiskS", "Game", new { idPersonaje = personaje.Id })'><img src="@personaje.Direccion" /></a>
            }
        }
    </div>
</div>
<script type="text/javascript">    
     
    if ( '@ViewBag.Host' == '@ViewBag.Turno') {        
        alertify.alert('Ya es tu turno');
        $('#cargar').attr("enabled", true);
    } else {        
        alertify.alert('@ViewBag.msgalert');
        window.location.href = "@Url.Action("Turnos","Game")"; 
        $('#cargar').attr("disabled", true);  
    }
   

</script>






