
@using QEQ.Models
@{
    ViewBag.Title = "ABMCar";

}

<div class="container " style="background-color: white;margin-top: 5rem; padding-top: 4rem; border: solid 2px black">
    <h2 class="text-center">Menu ABM de Caracteristicas</h2>
    <div class="row" style="margin-top: 6rem;">
        <div class="col-md-8 col-md-offset-2">
            <a href="@Url.Action("AgregarCar", "BackOffice")"><img src="~/Content/Agregar-elemento.png" height="30" /></a><br /><br />

        </div>
    </div>


    <div class="row" style="margin-top: 3rem;">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Texto</td>
                        <td>Grupo</td>
                        <td>Puntos</td>
                        <td>Modificar</td>
                        <td>Borrar</td>
                    </tr>
                    @foreach (Preg pregutna in ViewBag.Preguntas)
                    {
                        <tr>
                            <td>@Html.Label(pregutna.Id.ToString())</td>
                            <td>@Html.Label(pregutna.Texto)</td>
                            <td>@Html.Label(BD.BuscarCat(pregutna.idGrupo, BD.Grupos).Nombre)</td>
                            <td>@Html.Label(pregutna.Puntos.ToString())</td>
                            <td>
                                <a href="@Url.Action("ModificarCar", "BackOffice", new { id = pregutna.Id })"><img src="~/Content/Lapiz Mod.png" height="30" /></a>
                            </td>
                            <td>
                                <a href="@Url.Action("BorrarCar", "BackOffice", new { id = pregutna.Id })"><img src="~/Content/Cruz-Borrar.png" height="30" /></a>
                            </td>
                        </tr>
                    }
            </table>
        </div>
    </div>
</div>

