@using QEQ.Models
@{
    ViewBag.Title = "ABMCat";
    if (Session["Msg"].ToString() != "")
    {
        <input type="hidden" value="@Session["Msg"].ToString()" id="mensaje" />
        <script type="text/javascript">
            var hiden = document.getElementById("mensaje");
            var mensaje = hiden.getAttribute("value");
            alert(mensaje);
        </script>
        Session["Msg"] = "";
    }
}

<h2>Menu ABM de Categorias</h2>
<a href="@Url.Action("AgregarCat", "BackOffice")"><img src="~/Content/Agregar-elemento.png" height="30" /></a><br /><br />
<label>Categorias (Clasificacion de Personajes)</label><br />
<table border="1" align="center">
    <tr>
        <td>Id</td>
        <td>Categoria</td>
        <td>Modificar</td>
        <td>Borrar</td>
    </tr>
    @foreach (Cat Categoria in ViewBag.Categorias)
    {
        <tr>
            <td>@Html.Label(Categoria.Id.ToString())</td>
            <td>@Html.Label(Categoria.Nombre)</td>
            <td>
                <a href="@Url.Action("ModificarCat", "BackOffice", new { id = Categoria.Id, tipo = true })"><img src="~/Content/Lapiz Mod.png" height="30" /></a>
            </td>
            <td>
                <a href="@Url.Action("BorrarCat", "BackOffice", new { id = Categoria.Id, tipo = true })"><img src="~/Content/Cruz-Borrar.png" height="30" /></a>
            </td>
        </tr>
    }
</table>
<label>Grupos (Clasificacion de Preguntas)</label><br />
<table border="1" align="center">
    <tr>
        <td>Id</td>
        <td>Grupo</td>
        <td>Modificar</td>
        <td>Borrar</td>
    </tr>
    @foreach (Cat Grupo in ViewBag.Grupos)
    {
        <tr>
            <td>@Html.Label(Grupo.Id.ToString())</td>
            <td>@Html.Label(Grupo.Nombre)</td>
            <td>
                <a href="@Url.Action("ModificarCat", "BackOffice", new { id = Grupo.Id, tipo = false })"><img src="~/Content/Lapiz Mod.png" height="30" /></a>
            </td>
            <td>
                <a href="@Url.Action("BorrarCat", "BackOffice", new { id = Grupo.Id, tipo = false })"><img src="~/Content/Cruz-Borrar.png" height="30" /></a>
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Volver al BackOffice Index", "Index", "BackOffice") <br />