
@{
    ViewBag.Title = "ABMCar";
}

<h2>Menu de ABM de Caracteristicas</h2>
@using QEQ.Models
@Html.ActionLink("Agregar una caracteristica", "AgregarCar", "BackOffice") <br />
<table border="1" align="center">
    <tr>
        <td>Id</td>
        <td>Texto</td>
        <td>Grupo</td>
        <td>Modificar</td>
        <td>Borrar</td>
    </tr>
    @foreach (Preg pregutna in ViewBag.Preguntas)
    {
        <tr>
            <td>@Html.Label(pregutna.Id.ToString())</td>
            <td>@Html.Label(pregutna.Texto)</td>
            <td>@Html.Label(BD.BuscarCat(pregutna.idGrupo,BD.Grupos).Nombre)</td>
            <td>@Html.ActionLink("Modificar", "ModificarCar", "BackOffice", new { id = pregutna.Id },null)</td>
            <td>@Html.ActionLink("Borrar", "BorrarCar", "BackOffice", new { id = pregutna.Id },null)</td>
        </tr>
    }
</table>
@Html.ActionLink("Volver al BackOffice Index", "Index", "BackOffice") <br />