
@{
    ViewBag.Title = "ABMCar";
    
}

<h2>Menu de ABM de Caracteristicas</h2>
@Html.ActionLink("Volver al BackOffice Index", "Index", "BackOffice") <br />
@using QEQ.Models
<a href="@Url.Action("AgregarCar", "BackOffice")"><img src="~/Content/Agregar-elemento.png" height="30" /></a><br /><br />
<table border="1" align="center">
    <tr>
        <td>Id</td>
        <td>Texto</td>
        <td>Grupo</td>
        <td>Puntos</td>
        <td>Modificar</td>
        <td>Borrar</td>
    </tr>
    @foreach (Preg pregutna in ViewBag.Preguntas)
    {
        <tr>
            <td>@Html.Label(pregutna.Id.ToString())</td>
            <td>@Html.Label(pregutna.Texto)</td>
            <td>@Html.Label(BD.BuscarCat(pregutna.idGrupo, BD.Grupos).Nombre)</td>
            <td>@Html.Label(pregutna.Puntos.ToString())</td>
            <td>
                <a href="@Url.Action("ModificarCar", "BackOffice", new { id = pregutna.Id })"><img src="~/Content/Lapiz Mod.png" height="30" /></a>
            </td>
            <td>
                <a href="@Url.Action("BorrarCar", "BackOffice", new { id = pregutna.Id })"><img src="~/Content/Cruz-Borrar.png" height="30" /></a>
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Volver al BackOffice Index", "Index", "BackOffice") <br />