@using QEQ.Models
@{
    ViewBag.Title = "ABMCat";
}

<h2>Menu ABM de Categorias</h2>
@Html.ActionLink("Agregar una nueva categoria", "AgregarCat", "BackOffice"); <br />
<table border="1" align="center">
    <tr>
        <td>id</td>
        <td>categoria</td>
        <td>Modificar</td>
        <td>Borrar</td>
    </tr>
    @foreach (Cat Categoria in ViewBag.Categorias)
    {
        <tr>
            <td>@Html.Label(Categoria.Id.ToString())</td>
            <td>@Html.Label(Categoria.Nombre)</td>
            <td>@Html.ActionLink("Modificar", "ModificarCat", "BackOffice", new { id = Categoria.Id })</td>
            <td>@Html.ActionLink("Borrar", "BorrarCat", "BackOffice", new { id = Categoria.Id })</td>
        </tr>
    }
</table>
<table border="1" align="center">
    <tr>
        <td>id</td>
        <td>Grupo</td>
        <td>Modificar</td>
        <td>Borrar</td>
    </tr>
    @foreach (Cat Grupo in ViewBag.Grupos)
    {
        <tr>
            <td>@Html.Label(Grupo.Id.ToString())</td>
            <td>@Html.Label(Grupo.Nombre)</td>
            <td>@Html.ActionLink("Modificar", "ModificarCat", "BackOffice", new { Id = Grupo.Id },null);</td>
            <td>@Html.ActionLink("Borrar", "BorrarCat", "BackOffice", new { Id = Grupo.Id },null);</td>
        </tr>
    }
</table>
@Html.ActionLink("Volver al BackOffice Index", "Index", "BackOffice"); <br />