
@{
    ViewBag.Title = "AgregarCar";
}

@using QEQ.Models
@model QEQ.Models.Preg
<h2>Agregar una Caracteristica</h2>

@using (Html.BeginForm("AgregarCar", "BackOffice", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("Texto") @Html.TextBoxFor(P => P.Texto, new { @required = "required" }) <br />
    @Html.Label("Grupo") @Html.DropDownListFor(P => P.idGrupo, new SelectList(ViewBag.Grupos, "Id", "Nombre")) <br />
    @Html.TextBoxFor(P => P.IPuntos, new { @type = "number", max="200", min="0", @required = "required" }) <br />
    <input type="submit" value="Proceder" />
}
