
@{
    ViewBag.Title = "AgregarCat";
}

<h2>Agregar una nueva Categoria</h2>

@using (Html.BeginForm("AgregarCat", "BackOffice", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.TextBox("Cat", "", new { @required = "required" }) <br />
    @Html.RadioButton("tipo", "true", true)
    @Html.Label("Categoria(de Personajes)") <br />
    @Html.RadioButton("tipo", "false")
    @Html.Label("Grupo(de preguntas)") <br />
    <input type="submit" name="cargar" value="Cargar" />
}