@using QEQ.Models;
@using (@Html.BeginForm("LogIn", "Backoffice", FormMethod.Post))

{
    <br />
    <div class="loginBox">
        <h2 class="text-center">Log In</h2>
        <br /> @Session["msg"]<br />
        <form action="@Url.Action("LogIn", "Backoffice")" method="post">

            <input placeholder="Usuario" type="text" name="Usuario" class="inputext" required /> <br />
            <input placeholder="Contraseña" type="password" name="Contraseña" class="inputext" required /><br />
            <input type="submit" value="Enviar" class="btnClassS" /><br />
        </form>
        <p class="TextLoginReg"> ¿No tienes cuenta? @Html.ActionLink("Registrate!", "Register", "Backoffice") </p>
        <p class="TextLoginReg"> @Html.ActionLink("¿Olvidaste tu clave?", "OlvidoPass", "Backoffice") </p>

    </div>

}
@if (ViewBag.error == true)
    {
<script type="text/javascript">alertify.alert('Debes iniciar sesion pata jugar multijugador')</script>
        }