
@{
    ViewBag.Title = "Modificar Caracteristica";
}
@using QEQ.Models
<h2>Modifica la Caracteristica</h2>


@using QEQ.Models
@model QEQ.Models.Preg
Pregunta: " @BD.BuscarPregunta(Model.Id).Texto? "
@using (Html.BeginForm("ModificarCar", "BackOffice", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("Texto") @Html.TextBoxFor(P => P.Texto, new { @required = "required" })
    @Html.Label("?") <br />
    @Html.Label("Grupo") @Html.DropDownListFor(P => P.idGrupo, new SelectList(ViewBag.Grupos, "Id", "Nombre")) <br />
    @Html.TextBoxFor(P => P.IPuntos, new { @type = "number", max = "200", min = "0", @required = "required" }) <br />
    <input type="submit" value="Proceder" />
}