
@{
    ViewBag.Title = "ModificarCat";
}
@model QEQ.Models.Cat
@using QEQ.Models
<h2>Modifica la Categoria @BD.BuscarCat(Model.Id,BD.Categorias).Nombre </h2>

@using (Html.BeginForm("ModificarCat", "BackOffice", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.TextBoxFor(x => x.Nombre, new { @required = "required" })  
    @Html.ValidationMessageFor(x => x.Nombre) <br />
    @Html.RadioButton("tipo", "true",true)
    @Html.Label("Categoria(de Personajes)") <br />
    @Html.RadioButton("tipo", "false")
    @Html.Label("Grupo(de preguntas)") <br />
    <input type="submit" name="cargar" value="Cargar" /> 
}