@model QEQ.Models.Personaje
@using QEQ.Models
@{
    ViewBag.Title = "ModificarP";
}
<h2>Modifica el personaje @ViewBag.Nombre </h2>
@using (Html.BeginForm("ModificarP", "BackOffice", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("Personaje: ")
    <label>@ViewBag.Nombre</label> <br />
    @Html.Label("Categoria") @Html.DropDownListFor(P => P.idCategoria, new SelectList(ViewBag.ListaCat, "Id", "Nombre")) <br />
    int i = 0;
    Model.Preguntas = new List<Preg>();
    foreach (string Grupo in ViewBag.PregsXGrupo.Keys)
    {
        @Html.Label(Grupo)<br />
        Model.Preguntas.Add(new Preg());
        @Html.RadioButtonFor(P => P.Preguntas[i].Id, -1, new { @checked = "checked" })
        @Html.Label("No")<br />
        foreach (Preg pregunta in ViewBag.PregsxGrupo[Grupo])
        {
            if (BD.CompararPreg(pregunta, ViewBag.RtaXPer))
            {
                @Html.RadioButtonFor(P => P.Preguntas[i].Id, pregunta.Id, new { @checked = "checked" })
            }
            else
            { @Html.RadioButtonFor(P => P.Preguntas[i].Id, pregunta.Id)}
            @Html.Label(pregunta.Texto)<br />
        }
        i++;
    }
<input type="submit" value="Proceder" />
}