@{
    if (Convert.ToString(Session["msgOP"]) != "")
    {
        <script type="text/javascript">alertify.alert('@Session["msgOP"]')</script>
    }
    
}
@model QEQ.Models.Usuario
@using QEQ.Models;
@using (@Html.BeginForm("OlvidoPass", "BackOffice", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h2 class="Title">Cambiar contraseña </h2>
    <br />
    <div class="loginBox">
        <p class="text-info">Ingrese su usuario y nueva contraseña para cambiar la misma</p>
        <br /><br />
        <form action="@Url.Action("OlvidoPass","Backoffice")" method="post">

            @Html.TextBoxFor(U => U.Username, new { type = "text", required = "required", @class = ("inputext"), @placeholder= "Usuario" })@Html.ValidationMessageFor(U => U.Username)<br />
            @Html.TextBoxFor(U => U.Pass, new { type = "password", required = "required", @placeholder= "Nueva Contraseña", @class=("inputext") }) @Html.ValidationMessageFor(U => U.Pass) <br />
            <input type="submit" value="Enviar" class="btnClassS" /><br />
        </form>
    </div>
}


