
@using QEQ.Models;
@model Usuario
@using (@Html.BeginForm("Register", "BackOffice", FormMethod.Post))
{    
	
	@Session["msg"]
	<br />
	<div class="loginBox">
        <div>
            <h2 class="text-center">Crea tu cuenta</h2>
        </div>		<br /><br />
			  <form method="post" action="@Url.Action("Register","Usuario")">
			  	    @Html.TextBoxFor(x => x.Username, new { @required = "required", @class = ("inputext"), @placeholder = "Username" }) @Html.ValidationMessageFor(x => x.Username) <br />
			  @Html.PasswordFor(x => x.Pass, new { @required = "required", @class = ("inputext"), @placeholder = "Contrasena" }) @Html.ValidationMessageFor(x => x.Pass) <br />
			<span style="margin-left:3rem">Admin: </span> @Html.CheckBoxFor(x => x.Admin, new{@class=("chequeo"), @checked= "checked"}) @Html.ValidationMessageFor(x => x.Admin)<br />
       <input placeholder="Pass" type="password" name="Pin" class="inputext" required /><br />
			  <input type="submit" value="Registrarse" class="btnClassS" />
			  </form>
	</div>
		}

